@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif
}
.topnav{
    background-color: #000000;
    overflow: hidden;
}
.topnav{
    background-color: #000000;
    overflow: hidden;
}
.topnav a{
    float: right;
    display: block;
    color: #e6d4d4;
    text-decoration: none;
   
}

.button {
    border-radius: 4px;
    background-color: rgb(35, 177, 35);
    border: none;
    box-shadow: 0px 2px 2px #ffffff;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    padding: 12px 14px;
    width: 120px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .topnav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 17px;
    border-radius: 5px;
  }
  #logo{
    align: center;
    height: 50px;
    width: 100px; 
}
 .container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
    
   
}
#bg{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 13%, rgba(23,23,122,1) 79%);
height: 90vh;
width: 100%;
}
.login-box{
    height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #ffffff;
  position: absolute;
  background-color: rgba(8, 8, 8, 0.836);
border-radius: 15px;
justify-items: center;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 50px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #fdfdfd;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
    color: #fdfdfd;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #f9f9ff;
}

.login__submit {
	background:rgb(35, 177, 35);
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #efeff3;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #ffffff;
	box-shadow: 0px 2px 2px #ffffff;
  animation: neon5 1.5s ease-in-out infinite alternate;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #ffffff;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #ffffff;
}
  .divider {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    text-align: center;
    color: rgb(246, 246, 246);
  }
  .social-login {	
	position: relative;
	height: 15%px;
	width: 80%px;
	color: #fff;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

.social-login__icon {
  margin: 0 10px;
  transition: .2s;
  height: 10%;
  width: 100%;
 
}
.social{
  margin: 0 10px;
  transition: .2s;
  height: 50px;
  width: 50px;
  padding: 15px;
  justify-items: between;
}

.social:hover {
	transform: scale(1.5);	
}

