*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topnav{
    background-color: #000000;
    overflow: hidden;
}
.topnav a{
    float: right;
    display: block;
    color: #e6d4d4;
    text-decoration: none;
   
}

.button {
    border-radius: 4px;
    background-color: rgb(35, 177, 35);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 12px 14px;
    width: 120px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .topnav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 17px;
    border-radius: 5px;
  }
  img{
    height: 50px;
    width: 100px;
  }
  #content{
    background-image: url(background.png);
  }